[Unit]
Description=Node lifecycle service
Requires=etcd2.service
Requires=network-online.target
Requires=systemd-resolved.service
After=etcd2.service
After=network-online.target
After=systemd-resolved.service

[Service]
EnvironmentFile=-/etc/environment
EnvironmentFile=-/etc/custom-environment
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/coreos-docker-swarm-cluster/tools/node-up.sh
ExecStop=/etc/coreos-docker-swarm-cluster/tools/node-down.sh

[Install]
WantedBy=multi-user.target
